html{
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'EB Garamond', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #A4B0BD;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* 
footer{
  margin-top: auto;
  position: absolute;
  margin-bottom: 0px;
  float: bottom;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
